<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <!-- {% load static %} -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'DemystifyingML/<filename>' %}"> -->

	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>DemystifyingML</title>
	{% endif %}
</head>
<body>
	<link rel="stylesheet" href="{% static 'css/kmeans.css' %}">
	<nav class="navbar">
	  <div class="container-fluid">
	    {% if user.is_authenticated %}
      		<a class="navbar-brand" href="{% url 'dashboard' %}">DemystifyingML</a>
      	{% else %}
      		<a class="navbar-brand" href="{% url 'home-index' %}">DemystifyingML</a>
      	{% endif %}

	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    
	    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	      	{% if user.is_authenticated %}
		        <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">ML Algorithms</a></li>
		    {% endif %}
		  </ul> -->

		  <ul class="navbar-nav mb-2 mb-lg-0">
		    {% if user.is_authenticated %}
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
		          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
		            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
		            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
		          </ul>
		        </li>
		    {% else %}
		    	<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
		    	<li class="nav-item align-self-center">or</li>
		    	<li class="nav-item"><a class="nav-link" href="{% url 'register' %}">SignUp</a></li>
		    {% endif %}
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="sidenav">
		<a href="{% url 'kmeans-home' %}">Introduction</a>
		<a href="{% url 'kmeans-gi' %}">Geomentric Intution</a>
		<a href="{% url 'random-initialization' %}">Random Initialization</a>
		<a href="{% url 'centroid-assignment' %}">Step-2: Assigning Centroids</a>
		<a href="{% url 're-compute' %}">Step-3: Re-Compute Centroid</a>
		<a href="{% url 'plot-iterations' %}">Plot Iterations</a>
		<a href="{% url 'plot-clusters' %}">Plot Clusters</a>
	</div>
	<div class="container my-4">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }} fw-bolder py-2">	
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}

		{% block content %} {% endblock content %}
	</div>
	
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>
</html>