{% extends "kmeans/base.html" %}
{% load static %}
{% block content %}
<body>
    <h3>Step-2: Assigning Centroids</h3>
    <br>
    <p>For each point xi in D</p>
    <p>	(below statements in loop)</p>
    <p>→Select the nearest Cj</p>
    <p>→dist(xi, cj) ∀ j = 1,2, ….., k</p>
    <p>	Add xi to set Sj</p>
    <p>Xi →Sj  j = 1,2, …, k</p>
    <img src="{% static 'img/plot_fig_1.png' %}" alt="Plot Centroid">
</body>
<div class="row text-center mt-3">
    <div class="col-sm mb-3">
        <a href="{% url 'random-initialization' %}" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Step-1: Random Initialization</a>
    </div>
    <div class="col-sm mb-3">
        <a href="{% url 're-compute' %}" class="btn btn-primary">Step-3: Re-Compute <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
{% endblock content %}