{% extends "kmeans/base.html" %}
{% load static %}
{% block content %}
<body>
    <h3>Geometric Intuition of K-means Clustering algorithm</h3>
    <br>
    <img src="{% static 'src/kmeans_1.png' %}" alt="K-Means example">
    <p>Given dataset is D, which is having n data points</p>
    <p>S1 is the number of data points in the cluster 1</p>
    <p>S2 is the number of data points in the cluster 2</p>
    <p>S3 is the number of data points in the cluster 3</p>
    <p>C1, C2, C3 are the corresponding centroids in the clusters 1, 2, 3</p>
    <p>S1 U S2 U S3 = D</p>
    <p>K is the number of clusters and is the hyper parameter in the K-Means clustering algorithm</p>
    <p>S1 ⋂ S2 = Null</p>
    <p>S1 ⋂ S3 = Null</p>
    <p>S2 ⋂ S3 = Null</p>
    <p>K Centroids: C1, C2, C3, ...., Ck</p>
    <p>K Sets of data: S1, S2, S3, ...., Sk</p>
    <p>Ci = (1/n) sum(Xj) whereXj belongs to Si</p>
    <p>K-means clustering is centroid based clustering</p>
    <p>Big challenge in K-means clustering is finding the K centriods</p>
    <p>How to find the K centriods ??</p>
    <p>Core Idea: To find the each centriod and assigning the data points to the nearest centriod</p>
    <p>D = {X1, X2, X3, ---- Xn}</p>
    <p>Intra cluster distance: Distance between the two data points which are present in the same cluster</p>
    <p>Inter cluster distance: Distance between data points which belong to different clusters</p>
    <p>The mathematical formula can be written as:</p>
    <p>argmin (Sum (Sum (||X-Ci||)^2))  where i=1,2 ---- k, and X belongs to Si</p>
    <p>such that X belongs to Si</p>
    <p>Si Intersection Sj = Phi</p>
    <p>Objective is to minimize the Intra cluster distance</p>
    <p>Find the centriods C1, C2, ---- Ck where the intra cluster distance is minimized</p>
    <p>Sum||X-Ci||^2 where X belongs to Ci, This is the sum of square distance from centriod in cluster i</p>
    <p>The distance from centriod to all the data points must be minimized</p>
    <p>V.V hard to solve</p>
    <p>Hard problem can be solved using the approximate algorithm</p>
    <p>which uses some hacks and mathematics</p>
    <p>Lloyd's algorithm</p>
    <p>solves very hard problems, approximation algorithm</p>
    <br>
    <p>Lets see step by step in kmeans algorithm</p>
    <br>
</body>   
<div class="row text-center mt-3">
    <div class="col-sm mb-3">
        <a href="{% url 'kmeans-home' %}" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Introduction</a>
    </div>
    <div class="col-sm mb-3">
        <a href="{% url 'random-initialization' %}" class="btn btn-primary">Random Initialization <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
{% endblock content %}