{% extends "kmeans/base.html" %}
{% load static %}
{% block content %}
<div class="alert alert-info text-center fw-bold">This is k-means home page</div>
<body>
    <h3>Introduction to K-Means Clustering Algorithm</h3>
    <br>
    <p>Unsupervised learning is a machine learning technique which does not require any labelling for the target variable. In Unsupervised learning, we come up with the patterns from the existing data.</p>
    <p>User segmentation: Given set of users have been grouped into multiple segments based on their purchase behaviour</p>
    <p>Clustering analysis is broadly used in many applications such as market research, pattern recognition, data analysis, and image processing</p>
    <p>K-Means is an unsupervised learning algorithm, where data is grouped into multiple clusters based on the centroids. In K-Means, k represents the number of clusters, using the mean we compute the centroid of each and every cluster</p>
    <p>The main objective of the K-Means algorithm is to minimize the sum of distances between the points and their respective cluster centroid</p>
    <br>
    <p>Click below to see geomentric intution</p>
</body>   
<div class="row text-center mt-3">
    <div class="col-sm mb-3">
        <a href="{% url 'kmeans-gi' %}" class="btn btn-primary">Geomentric Intution</a>
    </div>
</div>
{% endblock content %}