<ul class="pagination">
    {% if page.has_previous %}
        <li><a href="?page={{ page.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
    {% else %}
        <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
    {% endif %}

    {% if page.number|add:'-4' > 1 %}
        <li><a href="?page={{ page.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in page.paginator.page_range %}
        {% if page.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>    
        {% elif i > page.number|add:'-5' and i < page.number|add:'5' %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>        
        {% endif %}
    {% endfor %}

    {% if page.paginator.num_pages > page.number|add:'4' %}
        <li><a href="?page={{ page.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if page.has_next %}
        <li><a href="?page={{ page.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
    {% else %}
        <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
    {% endif %}
    {% if page.number == page.paginator.page_range %}
        <a href="{% url 'plot-clusters' %}">Plot clusters</a>
    {% endif %}
</ul>
