{% extends "kmeans/base.html" %}
{% load static %}
{% block content %}
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-Means Picking Random Centroids</title>
</head> -->
<!-- <body> -->
    
    <img src="{% static 'img/plot_centroids.png' %}" alt="Plot Centroid" class="img-fluid mx-auto d-block">
    <div class="row text-center mt-3">
    	<div class="col-sm mb-3">
    		<a href="{% url 'plot-data' %}" class="btn btn-outline-danger"><i class="bi bi-arrow-left"></i> Plot Data</a>
    	</div>
    	<div class="col-sm mb-3">
    		<a href="{% url 'plot-iterations' %}" class="btn btn-primary">Plot Iterations <i class="bi bi-arrow-right"></i></a>
    	</div>
	</div>
<!-- </body> -->
{% endblock content %}