{% extends "kmeans/base.html" %}
{% load static %}
{% block content %}
<body>
    <h3>Final Centroids and clusters</h3>
    <img src="{% static ''|add:data|add:'' %}" alt="Plot Clusters" class="img-fluid mx-auto d-block">
    <div class="row text-center mt-3">
        <div class="col-sm mb-3">
            <a href="{% url 'plot-iterations' %}" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Plot Iterations</a>
        </div>
        <div class="col-sm mb-3">
            <a href="{% url 'dashboard' %}" class="btn btn-primary"><i class="bi bi-house"></i> Home</a>
        </div>
    </div>
       
</body>
{% endblock content %}