{% extends "kmeans/base.html" %}
{% load static %}
{% block content %}
<body>
    <h3>Centroid Update Iteration</h3>
    <br>
    {% for image in req_files %}
        <img src="{% static ''|add:image|add:'' %}" alt={{ image }}>
    {% endfor %}

    {% include 'kmeans/image_pagination.html' with page=req_files %}

    <div class="row text-center mt-3">
        <div class="col-sm mb-3">
            <a href="{% url 're-compute' %}" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Step-3: Re-Compute</a>
        </div>
        <div class="col-sm mb-3">
            <a href="{% url 'plot-clusters' %}" class="btn btn-primary">Plot Clusters <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
</body>
{% endblock content %}