{% extends "kmeans/base.html" %}
{% load static %}
{% block content %}
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-Means Plotting Data</title>
</head> -->
<!-- <body>     -->
    <img src="{% static 'img/plot_data.png' %}" alt="Plot Data" class="img-fluid mx-auto d-block">
    <div class="row text-center mt-3">
    	<div class="col-sm mb-3">
    		<a href="{% url 'pick-random-centroids' %}" class="btn btn-primary">Plot Random Centroids <i class="bi bi-arrow-right"></i></a>
    	</div>
    </div>
    
<!-- </body> -->
{% endblock content %}