{% extends "kmeans/base.html" %}
{% load static %}
{% block content %}
<body>
    <h3>Step 1: Random Initialization</h3> 
    <br>
    <p>Randomly pick 'k' points from dataset D and them as centriods C1, C2, ---- Ck</p>             
    <p>We consider centroids randomly from the given dataset D</p>
    <img src="{% static 'img/plot_centroids.png' %}" alt="Plot Centroid">
</body>
<div class="row text-center mt-3">
    <div class="col-sm mb-3">
        <a href="{% url 'kmeans-gi' %}" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Geomentric Intution</a>
    </div>
    <div class="col-sm mb-3">
        <a href="{% url 'centroid-assignment' %}" class="btn btn-primary">Step-2: Assigning Centroids <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
{% endblock content %}