{% extends "kmeans/base.html" %}
{% load static %}
{% block content %}
<body>
    <h3>Step-3 : Re compute centroid and iterate</h3>
    <p>Centroid update</p>
    <p>Re calculate/ update Cj’s as follow</p>
    <p>Cj = 1\|Sj|(Σxi xi ∊ Sj)    c1, c2, ….., ck</p>
    <p>To see the full iterations, click below</p>
    <p>iterate until convergence</p>
    <p>Repeat step-2, step-3 until convergence</p>
    <p>Convergence : centroids don't change much ie distance between new centroid and old centroid is very small</p>
</body>
<div class="row text-center mt-3">
    <div class="col-sm mb-3">
        <a href="{% url 'centroid-assignment' %}" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Step-2: Assigning Centroids</a>
    </div>
    <div class="col-sm mb-3">
        <a href="{% url 'plot-iterations' %}" class="btn btn-primary">Plot Iterations <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
{% endblock content %}