.navbar {
    background-color: #e3f2fd;
    height: 5rem;
}

.sidenav {
    height: 100%;
    width:15%;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#e3f2fd;
    overflow-x: hidden;
    margin-top:5rem;
}

.sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:25px;
    color: #080808;
    display:block;
}

.sidenav a:hover{
    color:#3611da;
}	
