{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<div class="container">
	<div class="wrapper col1">
		<a class="root-label">Supervised Algorithms</a>
		<div class="branch lv1">
			<div class="entry"><div class="padded"><a class="label">Logistic Regression</a></div></div>
			<div class="entry"><div class="padded"><a class="label">Decision Tree</a></div></div>
			<div class="entry"><div class="padded"><a class="label">Randon Forest</a></div></div>
			<div class="entry"><div class="padded"><a class="label">Linear Regression</a></div></div>
			<div class="entry"><div class="padded"><a class="label">Support Vector Machine</a></div></div>
		</div>
	</div>

	<div class="inv-wrapper col2">
		<a class="inv-root-label">UnSupervised learning</a>
		<div class="inv-branch lv1">
			<div class="inv-entry"><div class="padded"><a class="inv-label" href="{% url 'kmeans-home' %}">K-Means</a></div></div>
			<div class="inv-entry"><div class="padded"><a class="inv-label">Hirerachial Clustering</a></div></div>
			<div class="inv-entry"><div class="padded"><a class="inv-label">DB Scan</a></div></div>
		</div>
	</div>
</div>
{% endblock content %}