{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<div class="WelcomeMsg">
		<h3>Welcome {{ user.username|default:'Guest' }}</h3>
	</div>
	<br>
	<div>
		{% if user.is_authenticated %}
			<p>Thank you for finding time to check out our wonder creation Demy’ML</p>
			<br>
			<div>				
				<small>How many references have you had to follow to master a single algorithm?</small>
				<br>
				<small>How many do you have count if it is for complete data science preparation?</small>
			</div>
			<br>
			<div>
				<p>Learners have to scout internet for various blogs, articles, youtube playlists or MOOCs to master any algorithm, and list only goes up when you want to master all algorithms in data science</p>
			</div>
			<br>
			<div>
				<p>Demy’ML is a one stop interactive tool which helps in demystifying everything around all machine learning algorithms and also dive deep into mathematics and workings of all the algorithms in a granular and detailed way</p>
				<br>
				<p>This tool lets you see into the anatomy of Machine Learning Algorithms like never seen before.We want students to be not scared to look into mathematics of a algorithm rather excited to learning about the internal workings of the algorithm</p>
			</div>
			<br>
			<div class="dashboardLink">
				<p>Lets dive deep into the algorithms</p>
				<div class="row text-center mt-3">
					<div class="col-sm mb-3">							
						<a href="{% url 'dashboard' %}" class="btn btn-primary">Explore Algorithms</a> 
					</div>
				</div>
			</div>
      	{% else %}
		  <p>ML-Demyst will help you understand all machine learning algorithms</p>
		  <p>Please <a href="{% url 'register' %}">SignUp</a> and <a href="{% url 'login' %}">Login</a> if you have no account</p>
		{% endif %}
	</div>
{% endblock content %}