*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }
 body {
    min-width: 1100px;
    margin: 0;
    padding: 50px;
    color: #eee9dc;
    font: 16px Verdana, sans-serif;
    background: #2e6ba7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
 
 .col1 {
    width: 50%;
    float: left;
 }
 .col2 {
    margin-left: 50%;
 }
 
 /*Left to Right tree*/
 .wrapper {
    /*margin-left: 50px;*/
    position: relative;
 }
 
 .branch {
    position: relative;
    margin-left: 250px;
 }
 .branch:before {
    content: "";
    width: 50px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    left: -100px;
    top: 50%;
    /*margin-top: 1px;*/
 }
 .entry {
    position: relative;
    /*min-height: 60px;*/
 }
 .entry:before {
    content: "";
    height: 100%;
    border-left: 2px solid #eee9dc;
    position: absolute;
    left: -50px;
 }
 .entry:after {
    content: "";
    width: 50px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    left: -50px;
    top: 50%;
    /*margin-top: 1px;*/
 }
 .entry:first-child:before {
    width: 10px;
    height: 50%;
    top: 50%;
    /*margin-top: 2px;*/
    border-radius: 10px 0 0 0;
 }
  .entry:first-child:after {
    height: 10px;
    border-radius: 10px 0 0 0;
 }
  .entry:last-child:before {
    width: 10px;
    height: 50%;
    border-radius: 0 0 0 10px;
 }
  .entry:last-child:after {
    height: 10px;
    border-top: none;
    border-bottom: 2px solid #eee9dc;
    border-radius: 0 0 0 10px;
    margin-top: -9px;
 }
  .entry.sole:before {
    display: none;
 }
  .entry.sole:after {
    width: 50px;
    height: 0;
    margin-top: 1px;
    border-radius: 0;
 }
 
 .root-label {
    display: block;
    width: 150px;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid #eee9dc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
 }
 
 .padded {
    padding: 10px 0;
    display: inline-block;
 }
 
 .label {
    display: block;
    /*min-width: 150px;*/
    width: 150px;
    padding: 5px 10px;
    /*line-height: 20px;*/
    text-align: center;
    border: 2px solid #eee9dc;
    border-radius: 5px;
    /*position: absolute;*/
    /*top: 50%;
    left: 0%;
    transform: translate(0%, -50%);*/
 }
 
 
 /*Right to left tree*/
 .inv-wrapper {
    /*margin-right: 50px;*/
    position: relative;
 }
 
 .inv-branch {
    position: relative;
    margin-right: 250px;
 }
 .inv-branch:before {
    content: "";
    width: 50px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    right: -100px;
    top: 50%;
    /*margin-top: 1px;*/
 }
 .inv-entry {
    position: relative;
    /*min-height: 60px;*/
    text-align: right;
 }
 .inv-entry:before {
    content: "";
    height: 100%;
    border-right: 2px solid #eee9dc;
    position: absolute;
    right: -50px;
 }
 .inv-entry:after {
    content: "";
    width: 50px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    right: -50px;
    top: 50%;
    /*margin-top: 1px;*/
 }
 .inv-entry:first-child:before {
    width: 10px;
    height: 50%;
    top: 50%;
    /*margin-top: 2px;*/
    border-radius: 0 10px 0 0;
 }
 .inv-entry:first-child:after {
    height: 10px;
    border-radius: 0 10px 0 0;
 }
 .inv-entry:last-child:before {
    width: 10px;
    height: 50%;
    border-radius: 0 0 10px 0;
 }
 .inv-entry:last-child:after {
    height: 10px;
    border-top: none;
    border-bottom: 2px solid #eee9dc;
    border-radius: 0 0 10px 0;
    margin-top: -9px;
 }
 .inv-entry.sole:before {
    display: none;
 }
 .inv-entry.sole:after {
    width: 50px;
    height: 0;
    margin-top: 1px;
    border-radius: 0;
 }
 
 .inv-root-label {
    display: block;
    width: 150px;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid #eee9dc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
 }
 
 .inv-padded {
    padding: 10px 0;
    display: inline-block;
 }
 
 .inv-label {
    display: block;
    /*min-width: 150px;*/
    width: 150px;
    padding: 5px 10px;
    /*line-height: 20px;*/
    text-align: center;
    border: 2px solid #eee9dc;
    border-radius: 5px;
 }